.cards{
  display: flex;
  /* border: 1px solid yellow; */
  width: 90vw;
  justify-content: center;
  flex-wrap: wrap;
  
}
.MovieCard{
  margin: 10px 20px;
  border: 1px solid black;
  text-align: center;
  background-color: darkgray;
  /* position: relative; */
}
span{
  font-size: 20px;
}
img{
  width: 260px;
  height: 235px;
}
.rank{
  /* position: absolute; */
  /* right: 0; */
}
svg{
  fill: gold;
  height: 30px;
  width: 30px;
}